body{
    background-image: url("../images/jeopardy.png");
    background-size: 100%;
}
h1, span{
    text-align: center;
    background-color: orange;
    width: auto;   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    font-size: 38px;
}

h2 {
    text-align: left;
    font-size: 20px;
    background-color: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    text-align: left;
    background-color: green;
    font-style: oblique;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    font-size: 28px;
}

.container {
    width: 800px;
    height: 800px;
    margin: auto;
    background-color:  grey;
    color: red;
}
